html,body
{
    overflow-x: hidden; 
}

a{
    color:inherit;
    text-decoration: none;
}

a:hover{
    color:inherit;
    text-decoration:none;
}

a:visited{
    color:inherit;
    text-decoration: none;
}

.container-fluid{
    padding:0;
    margin:0;
}

/*Header*/

.header{
    text-align:center;
    border-bottom:solid;
    border-width:2px;
}

.header h1,h2{
    color:white;
    font-family: 'Oswald', sans-serif;
}

.header h1{
    font-size:50px;
    margin-bottom: 30px;
}

.header h2{
    margin-bottom: 20px;
}

.header img{
    width:180px;
    height:auto;
    margin-bottom: 10px;
}

.headerWrapper{
    position: relative;
    height: 550px; 
    overflow:hidden;
}

.headerContent{
    position: absolute;
    width: 100%;
    margin:60px auto;
}

.headerBackground{
    background-image: url("../img/headerBackground.jpg");
    height: 100%;
    width: 100%;
}

.socialMediaIcons img{
    width:32px;
    height:32px;
    margin:6px;
}

/*Bio*/

.bio{
    border-bottom: solid;
    border-width:2px;
    position: relative;
    border-color: #cccccc;
}

.bioWrapper{
    padding:55px 0;
}

.heading{
    font-family: 'Oswald', sans-serif;
}

.bioColumn{
    padding:0 30px;
}

.heading h1{
    text-align:left;
    color:#F9690E;
    border-bottom: solid;
    border-width:2px;
    border-color:#cccccc;
    text-decoration: underline;
    text-align:right;
}

.heading h1>em{
    float:left;
    font-style:normal;
    margin-left: 15px;
    font-size:20px;
}

.bio p{
    font-family: 'Lato', sans-serif;
    font-size: 23px;
}



/*Content 1*/

.content{
    border-bottom:solid;
    text-align: center;
    position: relative;
    height:500px;
}

.contentWrapper{
    position: relative;
    width: 100%;
    height: 100%;
}

.contentText{
    position:absolute;
    top:40%;
    width:100%;
    left:0;
}

.contentText h1{
    background-image:url('../img/trans-black-bg.png');
    font-family: 'Oswald', sans-serif;
    color:white;
    width:50%;
    margin:0 auto;
}

.contentBackground{
    background-image:url('../img/chicago.jpg');
    height:100%;
    width:100%;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: cover;
}


/*Portfolio*/

.portfolio{
    padding: 50px 0;
    border-bottom:solid;
    text-align:center;
}

.portfolioImageWrapper{
    position:relative;
    width: 100%;
    max-width: 300px;
    margin:0 auto;
    margin-bottom: 20px;
}

.portfolioImageWrapper:hover{
    cursor:pointer;
    cursor: hand;
}

.imageOverlay{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    display:none;
    background-image:url("../img/trans-black-bg.png");
}

.imageOverlay h1{
    font-family: 'Lato', sans-serif;
    position:relative;
    text-align:center;
    color: white;
    width:80%;
    top:50%;
    margin:0 auto;
    font-size: 25px;
}

.portfolio img{
    width: 100%;
    height:100%;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    border:solid;
    border-width:2px;
    border-color:#cccccc;
}

/*Contact*/

.contact{
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-top:25px;
    padding-bottom: 40px;
    background-color: #E4F1FE;
}

.contact p{
    font-size:20px;
    border-bottom: solid;
    margin-bottom:30px;
}

.contactButton{
    background-color:#F9690E;
    color:white;
}

form{
    margin-top:48px;
}

form,input,textarea{
    width:100%;
    outline:0;
    background-color:#E4F1FE;
}

input,textarea{
    border-style:none;
}

::-webkit-input-placeholder {
   color:black;
}

:-moz-placeholder { /* Firefox 18- */
   color:black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color:black;  
}

:-ms-input-placeholder {  
   color:black;  
}

@media screen and (max-width:980px) {

}